/* Space out content a bit */
html{
    height: 100%;
}
body {
    padding-top: 20px;
    padding-bottom: 50px;
    height:100%;
    min-height: 100%;

}
a {
    cursor:pointer;
}

.main-navigation > ul.nav-justified li a {
    color:white;
    font-weight: bolder;
}
.main-navigation > ul.nav-justified li a:hover{
    color:black;
}

.main-navigation > .nav-pills > li.active > a,.main-navigation > .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color:transparent;

    cursor:default;
}
.main-navigation > .nav-pills > li.active > a > span{
    border-bottom: white solid 4px;
}

.nav-pills{
    font-size: 1.5em;
}

.btn-transparent{
    background-color: transparent;
    border:white solid 2px;
    color:white;
}

.btn-transparent{
    background-color:transparent;
    border:white solid 2px;
    color:white;
    width:250px!important;
}

.btn-transparent:hover{
    border:#ffdcad solid 2px;
    color: #ffdcad;
}

.footer a {
    color:white
}
.login-form-links{
    float:right;
}

.login-form-button{
    float:left;
}

.login-form-separator{
    display:none;
}
.panel-quicklinks{
    margin-top: 150px;
}
.panel-default{
    background-color:  rgba(255,255,255,0.85);
}

#login_form, #recover_password_form{
    background-color:rgba(255,255,255,0.5)    
}

#login_form div.login-form-buttons,
#recover_password_form div.login-form-buttons{
    margin:20px auto;
}

#login_form .input-group, #recover_password_form .input-group{
    width:100%;
}
#account_accordion input, #account_accordion button {
    margin:3px;
}
#newAccountPanel{
    display:none;
    text-align: justify;
}

#newAccountPanel p{
    font-size:1em;
}

.alert {
    margin-top:5px;
    margin-bottom:5px;
}

.fill{
    height: 100%
}
.invite_a_friend{
    color:red !important;
    font-style: italic;
    font-weight: bold;
}

.ngview{
    height: 100%;
}

.pvcloud-edit-toolbar{
    padding-left:10px;
    padding-right: 10px;
    font-size:1.9em;
    margin-right:15px
}

.pvcloud-close-button {
    cursor:pointer;
    color:maroon;
}

.pvcloud-close-button:hover{
    color:red;
}

.pvcloud-edit-toolbar i{
    margin:5px
}
.pvcloud-home p {
    text-align: justify;
}

.pvcloud-home input{
    width:100%;
}

.pvcloud-app-edit{
    cursor:pointer;
}

input, textarea {
    padding:5px;
}

.pvcloud-app-edit:hover{
    color:green;
}
#flecha-ingresar{
    display:inline-block;
    top:3px;
}

#pv-header-credentials{
    font-size: 1.5em;
}

#pv-header-registration, #pv-header-password-recovery {
    display:none;
}

#pv-credentials{
    margin:0 auto;    
}

#pv-credentials .input-group{
    width:100%
}

#pv-credentials .row {
    margin:10px auto;
}

#pv-credentials .pv-credentials-addon-actions {
    text-align: right;
}

.input-group-addon {
    width:70px;   
}

#recover_password_form {
    display:none;
}

.pv-credentials-addon-actions{
    display: inline-block;
}

.pv-control-back-to-login-separator{
    display:none;
}

.pv-control-back-to-login, .pv-control-recuperar-clave{
    display:none;
}

.pv-registration-controls{
    display:none;
}
.pv-password-recovery-controls{
    display:none;
}
input.form-control {
    height:40px
}

span.glyphicon-copyright-mark{
    top:2px;
    margin-right: 5px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    color: #777;
    text-align: center; 
    border-style: none;    
}

.footer .panel{
    background-color: rgba(255,255,255,0.9);
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgba(255,255,255,0.6);    
}
.jumbotron .btn {
    font-size: 21px;

}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }    
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    #pv-credentials .pv-credentials-addon-actions {
        text-align: left;
        margin-top:20px;
    }    

    .crmakers-logo{
        width:50px;
        position:absolute;
        top:25px;
        left:20px
    }

    .jumbotron p{
        font-size: 0.8em
    }

    .login-form-buttons a{
        display:inline-block;
        margin-top:1em
    }

    .login-form-links,.login-form-button{
        float:none!important;
    }
    
    .login-form-links{
        display:block;
        margin-top:1em;
    }

    .login-form-separator{
        display:block;
    }
    .login-form-buttons button{
        font-size:1em!important
    }
}
