node_modules
dist
.tmp
.sass-cache
bower_components
/nbproject/private/
/nbproject/
/pvcloud.zip
/pvcloud_backend/
/jn-dev-workspace/

#################
## WebStorm
#################

.idea/
/dist.zip
/app/backend/DA/da_conf.php
