<!-- CONTAINER FLUID -->
<div data-ng-controller="_mycloud_widgetsdef" class="container-fluid">

    <!-- BREADCRUMB -->
    <ol class="breadcrumb">
        <li>.../ <a href="#/pagesdef/{{Page.page_id}}/tab_widgets">Page: {{Page.title}}(ID: {{Page.page_id}})</a></li>
        <li>Widget: {{Widget.title}} ({{Widget.widget_id}})</li>
    </ol>

    <!-- TABS ASK JOSE!!!! --> 
    <ul data-ng-show="PageID !== 'new'" class="nav nav-tabs" data-ng-class="{'nav-justified':PageID != undefined}">
        <li role="presentation" data-ng-show="WidgetID" data-ng-class="{active:CurrentTab == Tabs.Basics}"><a data-ng-click="SwitchToTab(Tabs.Basics)">Definición&nbsp;de&nbsp;Widget</a></li>
        <li role="presentation" data-ng-show="WidgetID" data-ng-class="{active:CurrentTab == Tabs.Configuration}"><a data-ng-click="SwitchToTab(Tabs.Configuration)">Configuración</a></li>
    </ul>

    <!-- BASIC DATA-->
    <div class="container-fluid" data-ng-show="CurrentTab == Tabs.Basics">
        <br>
        <form>
            <!-- TITLE -->
            <div class="form-group">
                <span style="display:inline-block;color:red; float:right" data-ng-if="ValidationError_Name"><i class="glyphicon glyphicon-warning-sign"></i> {{ValidationError_Name}}</span>
                <label for="txtTitulo">{{PageLabels._mycloud_widgetsdef.title}}</label>
                <input type="text" class="form-control" id="txtTitulo" placeholder="Digite aquí el título del widget." data-ng-change="SetFormDirty()" data-ng-model="Widget.title">
            </div>

            <!-- DESCRIPTION -->
            <div class="form-group">
                <span style="display:inline-block;color:red; float:right" data-ng-if="ValidationError_Description"><i class="glyphicon glyphicon-warning-sign"></i> {{ValidationError_Description}}</span>
                <label for="txtDescripcion">{{PageLabels._mycloud_widgetsdef.description}}</label>
                <textarea data-ng-change="SetFormDirty()" class="form-control" id="txtDescripcion" placeholder={{PageLabels._mycloud_widgetsdef.phdes}} rows="4" data-ng-model="Widget.description"></textarea>
            </div>
            <!-- Widget Type-->
            <div class="form-group">
                <span style="display:inline-block;color:red; float:right" data-ng-if="ValidationError_Description"><i class="glyphicon glyphicon-warning-sign"></i> {{ValidationError_Description}}</span>
                <label for="txtType">{{PageLabels._mycloud_widgetsdef.widget_type}}</label>
                <select class="form-control"  data-ng-model="Widget.widget_type_id" data-ng-change="SetFormDirty()" required  
                        ng-options="wt.widget_type_id as PageLabels._mycloud_widgetsdef[wt.widget_type_code] for wt in WidgetTypes">
                    <option value="">{{PageLabels._mycloud_widgetsdef.phwidgettype}}</option>
                </select>
            </div>

            <!-- Frequency-->
            <div class="form-group">
                <span style="display:inline-block;color:red; float:right" data-ng-if="ValidationError_Description"><i class="glyphicon glyphicon-warning-sign"></i> {{ValidationError_Description}}</span>
                <label for="txtFrequency">{{PageLabels._mycloud_widgetsdef.frequency}}</label>
                <select class="form-control"  
                        data-ng-model="Widget.frequency" 
                        data-ng-change="SetFormDirty()" required >
                    <option value="">{{PageLabels._mycloud_widgetsdef.phfrequency}}</option>
                    <option value="0">{{PageLabels._mycloud_widgetsdef.FREQ_0s}}</option>
                    <option value="5">{{PageLabels._mycloud_widgetsdef.FREQ_5s}}</option>
                    <option value="10">{{PageLabels._mycloud_widgetsdef.FREQ_10s}}</option>
                    <option value="30">{{PageLabels._mycloud_widgetsdef.FREQ_30s}}</option>
                    <option value="60">{{PageLabels._mycloud_widgetsdef.FREQ_1m}}</option>
                    <option value="120">{{PageLabels._mycloud_widgetsdef.FREQ_2m}}</option>
                    <option value="300">{{PageLabels._mycloud_widgetsdef.FREQ_5m}}</option>
                    <option value="600">{{PageLabels._mycloud_widgetsdef.FREQ_10m}}</option>
                    <option value="1800">{{PageLabels._mycloud_widgetsdef.FREQ_30m}}</option>
                    <option value="3600">{{PageLabels._mycloud_widgetsdef.FREQ_1h}}</option>
                    <option value="86400">{{PageLabels._mycloud_widgetsdef.FREQ_1d}}</option>
                </select>
            </div>
            <button class="btn btn-success" data-ng-click="SaveWidget()" data-ng-disabled="FormIsClean"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;&nbsp;{{PageLabels._mycloud_widgetsdef.save}}</button>
            <button class="btn btn-danger" data-ng-if="Widget.widget_id > 0" data-ng-click="DeleteWidget()" ><i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;{{PageLabels._mycloud_widgetsdef.delete}}</button>
            <button class="btn btn-link" data-ng-click="Cancelar()">{{FormIsClean?PageLabels._mycloud_widgetsdef.backtopage:PageLabels._mycloud_widgetsdef.cancel}}</button>          
        </form>        
    </div>

    <!-- WIDGETS CONFIGURATION -->
    <div class="container-fluid" data-ng-show="CurrentTab == Tabs.Widgets"> 
        TEST ON CONFIG TABS
        <!--
        
        THIS DIV IS WRONG!
        <div data-ng-include="'views/_mycloud_widgetsdef_.html' + WidgetType"></div>
        
        -->

    </div>

</div>

