<!-- CONTAINER FLUID -->
<div data-ng-controller="_mycloud_myapps_edit" class="container-fluid">

    <!-- BREADCRUMB -->
    <ol class="breadcrumb">
        <li><a href="#/apps">My Apps</a></li>
        <li class="active">{{AppCurrentName}}(ID: {{AppID}})</li>
    </ol>

    <!-- TABS -->
    <ul data-ng-show="ApplicationID" class="nav nav-tabs" data-ng-class="{'nav-justified':ApplicationID != undefined}">
        <li role="presentation" data-ng-show="ApplicationID" data-ng-class="{active:CurrentTab == Tabs.Basics}"><a data-ng-click="SwitchToTab(Tabs.Basics)">{{PageLabels._mycloud_myapps_edit.basics_tab}}</a></li>
        <li role="presentation" data-ng-show="ApplicationID" data-ng-class="{active:CurrentTab == Tabs.Pages}"><a data-ng-click="SwitchToTab(Tabs.Pages)">{{PageLabels._mycloud_myapps_edit.pages_tab}}</a></li>
        <li role="presentation" data-ng-show="ApplicationID" data-ng-class="{active:CurrentTab == Tabs.Data}"><a data-ng-click="SwitchToTab(Tabs.Data)">{{PageLabels._mycloud_myapps_edit.data_tab}}</a></li>
        <li role="presentation" data-ng-show="ApplicationID" data-ng-class="{active:CurrentTab == Tabs.DocsNDrivers}"><a data-ng-click="SwitchToTab(Tabs.DocsNDrivers)">{{PageLabels._mycloud_myapps_edit.docs_n_drivers_tab}}</a></li>        
    </ul>

    <!-- BASIC DATA-->
    <div class="container-fluid" data-ng-show="CurrentTab == Tabs.Basics">
        <br>
        <form>
            <div class="form-group">
                <span style="display:inline-block;color:red; float:right" data-ng-if="ValidationError_Name"><i class="glyphicon glyphicon-warning-sign"></i> {{ValidationError_Name}}</span>
                <label for="txtNombre">{{PageLabels._mycloud_myapps_edit.app_name}}</label>
                <input type="text" class="form-control" id="txtNombre" placeholder="{{PageLabels._mycloud_myapps_edit.place_holder_description}}" data-ng-change="SetFormDirty()" data-ng-model="AppName">
            </div>



            <div class="form-group">
                <span style="display:inline-block;color:red; float:right" data-ng-if="ValidationError_Description"><i class="glyphicon glyphicon-warning-sign"></i> {{ValidationError_Description}}</span>
                <label for="txtDescripcion">{{PageLabels._mycloud_myapps_edit.app_description}}</label>
                <textarea data-ng-change="SetFormDirty()" class="form-control" id="txtDescripcion" placeholder="{{PageLabels._mycloud_myapps_edit.place_holder_description}}" rows="4" data-ng-model="AppDescription"></textarea>
            </div>
            <div class="form-group">
                <label for="selVisibility">{{PageLabels._mycloud_myapps_edit.visibility}}</label>
                <select data-ng-change="SetFormDirty()" class="form-control" id="selVisbility" data-ng-model="AppVisibility">
                    <option selected value="1">{{PageLabels._mycloud_myapps_edit.private}}</option>
                    <option value="2">{{PageLabels._mycloud_myapps_edit.shared}}</option>
                    <option value="3">{{PageLabels._mycloud_myapps_edit.public}}</option> 
                </select>
            </div>               




            <button class="btn btn-success" data-ng-click="SaveApp()" data-ng-disabled="FormIsClean"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;&nbsp;{{PageLabels._mycloud_myapps_edit.save}}</button>
            <button class="btn btn-danger" data-ng-if="ApplicationID" data-ng-click="DeleteApp()" ><i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;{{PageLabels._mycloud_myapps_edit.delete}}</button>
            <button class="btn btn-link" data-ng-click="Cancelar()">{{FormIsClean?PageLabels._mycloud_myapps_edit.goto_apps_list:PageLabels._mycloud_myapps_edit.cancel}}</button>

            <hr data-ng-show="ApplicationID">

            <div data-ng-show="ApplicationID" class="input-group" style="width:100%">
                <span class="input-group-addon">API KEY</span>
                <input type="text" class="form-control" disabled style="overflow-x: hidden" value="{{AppAPIKEY}}" />
                <span class="input-group-addon" id="txtAPIKEY" ><button class="btn btn-danger btn-xs pull-right" data-ng-click="RecreateAPIKEY()" data-ng-disabled="!FormIsClean" title="Haga clic para regenerar el API KEY. (Guarde sus cambios antes)"><i class="glyphicon glyphicon-refresh"></i></button></span>
            </div>            
        </form>        
    </div>
    
    <!--DOCS AND DRIVERS-->
    <div class="container-fluid" data-ng-show="CurrentTab == Tabs.DocsNDrivers"> 

        <div data-ng-include="'views/_mycloud_myapps_edit_dd.html'"></div>

    </div>

    <!--PAGES-->
    <div class="container-fluid" data-ng-show="CurrentTab == Tabs.Pages" data-ng-include="'views/_mycloud_myapps_edit_pages.html'"> Pages </div>

    <!--PVCLOUD-->
    <div class="container-fluid" data-ng-show="CurrentTab == Tabs.Data" data-ng-include="'views/_mycloud_myapps_data_pages.html'">
      
    </div>


</div>

