<!-- CONTENT -->
<div class="container-fluid" style="min-height: 100%">


    <!--NAV BAR AND SANDWITCH-->
    <nav class="navbar navbar-default main-standard-navigation">
        <div class="container-fluid" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">pvCloud <sub style="color:orange">beta<span class="small" style="color:silver;"> ( {{Email}} ) </span></sub></a> 
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>    

    <!-- MAIN SECTIONS -->
    <div class="row" style="height: 100%; display:block">
       

        <!-- WORKSPACE -->
        <div class="col-md-6 main-navigation">
            <!-- PARTIAL VIEW FOR SECTIONS -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--<div class="row">-->
                    <!--    <div class="col-md-12 slide-animate" data-ng-include="SectionURL"></div>                -->
                    <!--</div>-->
                    <div class="row">
                      <div class="col-lg-6">
                         <div id="panelChart1" class="panel panel-default">
                            <div class="panel-heading">
                               <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss" tool-refresh="traditional"></paneltool>
                               <div class="panel-title">Power Meter: Canal 1</div>
                            </div>
                            <div collapse="panelChart1">
                               <div class="panel-body">
                                  <div class="chart-area flot-chart" style="width:250px;height:400px"></div>
                                  
                               </div>
                            </div>
                         </div>
                      </div>
                      <!--<div class="col-lg-6">-->
                      <!--   <div id="panelChart9" class="panel panel-default">-->
                      <!--      <div class="panel-heading">-->
                      <!--         <paneltool tool-collapse="tool-collapse" tool-dismiss="tool-dismiss" tool-refresh="traditional"></paneltool>-->
                      <!--         <div class="panel-title">PowerMeter: canal 2</div>-->
                      <!--      </div>-->
                      <!--      <div collapse="panelChart9" class="panel-wrapper">-->
                      <!--         <div class="panel-body">-->
                      <!--            <div data-source="{{testData1}}" class="chart-spline flot-chart" style="width:250px;height:400px"></div>-->
                      <!--         </div>-->
                      <!--      </div>-->
                      <!--   </div>-->
                      <!--</div>-->
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<!-- FOOTER -->
<div class="footer">Brought to you by <a href="http://costaricamakers.com">costaricamakers.com</a></div>
