<!-- CONTAINER FLUID -->
<div data-ng-controller="_mycloud_myapps_edit" class="container-fluid">

    <ol class="breadcrumb">
        <li><a href="#/mycloud/myapps">My Apps</a></li>
        <li class="active">{{AppCurrentName}}(ID: {{ArticleID}})</li>
    </ol>

    <ul data-ng-show="ApplicationID" class="nav nav-tabs" data-ng-class="{'nav-justified':ApplicationID != undefined}">
        <li role="presentation" data-ng-show="ApplicationID" data-ng-class="{active:CurrentTab == Tabs.Basics}"><a data-ng-click="SwitchToTab(Tabs.Basics)">Lo&nbsp;Básico</a></li>
        <li role="presentation" data-ng-show="ApplicationID" data-ng-class="{active:CurrentTab == Tabs.DocsNDrivers}"><a data-ng-click="SwitchToTab(Tabs.DocsNDrivers)">Docs&nbsp;&amp;&nbsp;Drivers</a></li>
        <li role="presentation" data-ng-show="ApplicationID" data-ng-class="{active:CurrentTab == Tabs.Pages}"><a data-ng-click="SwitchToTab(Tabs.Pages)">Páginas</a></li>
        <li role="presentation" data-ng-show="ApplicationID" data-ng-class="{active:CurrentTab == Tabs.Data}"><a data-ng-click="SwitchToTab(Tabs.Data)">Datos</a></li>
    </ul>

    <!-- BASIC DATA-->
    <div class="container-fluid" data-ng-show="CurrentTab == Tabs.Basics">
        <br>
        <form>
            <div class="form-group">
                <span style="display:inline-block;color:red; float:right" data-ng-if="ValidationError_Name"><i class="glyphicon glyphicon-warning-sign"></i> {{ValidationError_Name}}</span>
                <label for="txtNombre">Nombre del App </label>
                <input type="text" class="form-control" id="txtNombre" placeholder="Digite aquí el nombre de su app." data-ng-change="SetFormDirty()" data-ng-model="AppName">
            </div>



            <div class="form-group">
                <span style="display:inline-block;color:red; float:right" data-ng-if="ValidationError_Description"><i class="glyphicon glyphicon-warning-sign"></i> {{ValidationError_Description}}</span>
                <label for="txtDescripcion">Descripción</label>
                <textarea data-ng-change="SetFormDirty()" class="form-control" id="txtDescripcion" placeholder="Describa brevemente su app" rows="4" data-ng-model="AppDescription"></textarea>
            </div>
            <div class="form-group">
                <label for="selVisibility">Visibilidad</label>
                <select data-ng-change="SetFormDirty()" class="form-control" id="selVisbility" data-ng-model="AppVisibility">
                    <option selected value="1">Privado</option>
                    <option value="2">Compartido</option>
                    <option value="3">Público</option>
                </select>
            </div>               




            <button class="btn btn-success" data-ng-click="SaveApp()" data-ng-disabled="FormIsClean"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;&nbsp;Guardar</button>
            <button class="btn btn-danger" data-ng-if="ApplicationID" data-ng-click="DeleteApp()" ><i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;Eliminar</button>
            <button class="btn btn-link" data-ng-click="Cancelar()">{{FormIsClean?'Ir a Lista de Apps':'Cancelar'}}</button>

            <hr data-ng-show="ApplicationID">

            <div data-ng-show="ApplicationID" class="input-group" style="width:100%">
                <span class="input-group-addon">API KEY</span>
                <input type="text" class="form-control" disabled style="overflow-x: hidden" value="{{AppAPIKEY}}" />
                <span class="input-group-addon" id="txtAPIKEY" ><button class="btn btn-danger btn-xs pull-right" data-ng-click="RecreateAPIKEY()" data-ng-disabled="!FormIsClean" title="Haga clic para regenerar el API KEY. (Guarde sus cambios antes)"><i class="glyphicon glyphicon-refresh"></i></button></span>
            </div>            
        </form>        
    </div>
    <!--DOCS AND DRIVERS-->
    <div class="container-fluid" data-ng-show="CurrentTab == Tabs.DocsNDrivers"> 

        <div data-ng-include="'views/_mycloud_myapps_edit_dd.html'"></div>

    </div>

    <!--PAGES-->
    <div class="container-fluid" data-ng-show="CurrentTab == Tabs.Pages"> Pages </div>

    <!--PVCLOUD-->
    <div class="container-fluid" data-ng-show="CurrentTab == Tabs.Data">
        <h2>Herramientas de Datos</h2>
        <p>En esta sección se suministran herramientas para navegar y analizar los datos de la aplicación</p>
        <a href="{{URLBegin}}/pvcloud_backend/vse_get_csv.php?account_id={{AccountID}}&app_id={{Application.app_id}}&api_key={{Application.api_key}}&value_label=&count_limit="
           class="btn btn-lg btn-success"><i class="glyphicon glyphicon-download"></i> Descargar CSV</a>
    </div>


</div>

