<!--API DOCUMENTATION-->
<div data-ng-controller="_mycloud_myapps_edit_dd" class="container-fluid">
<div style="text-align: justify; font-size:16px">
    <h2 class="demoHeaders">Cómo usar pvCloud en su app</h2>
    <div class="alert alert-info">
        <strong>ID de App:</strong> <span style="font-family: monospace">{{Application.app_id}}</span><br>
        <strong>Nombre de App:</strong> <span style="font-family: monospace">{{Application.app_nickname}} ({{Application.app_id}})</span><br>
        <strong>Descripción:</strong> <span style="font-family: monospace">{{Application.app_description}}</span><br>
        <strong>API KEY:</strong> <span style="font-family: monospace">{{Application.api_key}}</span>
    </div>

    <form>
    <a data-ng-click="GoToContentDef()" class='pull-right btn btn-xs btn-success'><i class='glyphicon glyphicon-book'></i> Nuevo contenido</a>
    <br>
<div>

        
        <div data-ng-repeat="content in Contents">
            <h2>{{content.title}}</h2>
            <p>
                <div data-ng-bind-html="to_trusted(content.Content)"></div>
            </p>
            <hr>
        </div>

</div>


</div>

<script>
    $("#accordion").accordion({
        heightStyle: "content",
        collapsible: true
    });
</script>