<!-- CONTAINER FLUID -->
<div data-ng-controller="_mycloud_pagesdef" class="container-fluid">

    <!-- BREADCRUMB -->
    <ol class="breadcrumb">
        <li><a href="#/mycloud/myapps">My Apps</a></li>
        <li><a href="#/mycloud/myapps/{{ArticleID}}/tab_pages">{{AppName}}(ID: {{ArticleID}})</a></li>
        <li>Pages: {{PageTitle}} ({{PageID}})</li>
    </ol>

    <!-- TABS -->
    <ul data-ng-show="PageID!=='new'" class="nav nav-tabs" data-ng-class="{'nav-justified':PageID != undefined}">
        <li role="presentation" data-ng-show="PageID" data-ng-class="{active:CurrentTab == Tabs.Basics}"><a data-ng-click="SwitchToTab(Tabs.Basics)">Definición&nbsp;de&nbsp;Página</a></li>
        <li role="presentation" data-ng-show="PageID" data-ng-class="{active:CurrentTab == Tabs.Widgets}"><a data-ng-click="SwitchToTab(Tabs.Widgets)">Widgets</a></li>
    </ul>

    <!-- BASIC DATA-->
    <div class="container-fluid" data-ng-show="CurrentTab == Tabs.Basics">
        <br>
        <form>
            <!-- TITLE -->
            <div class="form-group">
                <span style="display:inline-block;color:red; float:right" data-ng-if="ValidationError_Name"><i class="glyphicon glyphicon-warning-sign"></i> {{ValidationError_Name}}</span>
                <label for="txtTitulo">Título</label>
                <input type="text" class="form-control" id="txtTitulo" placeholder="Digite aquí el título de la página." data-ng-change="SetFormDirty()" data-ng-model="PageTitle">
            </div>

            <!-- DESCRIPTION -->
            <div class="form-group">
                <span style="display:inline-block;color:red; float:right" data-ng-if="ValidationError_Description"><i class="glyphicon glyphicon-warning-sign"></i> {{ValidationError_Description}}</span>
                <label for="txtDescripcion">Descripción</label>
                <textarea data-ng-change="SetFormDirty()" class="form-control" id="txtDescripcion" placeholder="Describa brevemente su app" rows="4" data-ng-model="PageDescription"></textarea>
            </div>
            
            <!-- VISIBILITY -->
            <div class="form-group">
                <label for="selVisibility">Visibilidad</label>
                <select data-ng-change="SetFormDirty()" class="form-control" id="selVisbility" data-ng-model="PageVisibility">
                    <option selected value="1">Privado</option>
                    <option value="2">Compartido</option>
                    <option value="3">Público</option>
                </select>
            </div>               

            <button class="btn btn-success" data-ng-click="SavePage()" data-ng-disabled="FormIsClean"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;&nbsp;Guardar</button>
            <button class="btn btn-danger" data-ng-if="PageID" data-ng-click="DeletePage()" ><i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;Eliminar</button>
            <button class="btn btn-link" data-ng-click="Cancelar()">{{FormIsClean?'Regresar al App':'Cancelar'}}</button>          
        </form>        
    </div>
    
    <!-- WIDGETS -->
    <div class="container-fluid" data-ng-show="CurrentTab == Tabs.Widgets"> 
        <div data-ng-include="'views/_mycloud_pagesdef_widgets.html'"></div>

    </div>
    
</div>

