<!-- ACCORDION WITH ACCOUNT OPTIONS -->
<div id="account_accordion" data-ng-controller="_mycloud_myaccount">
    <h3>Cambiar mi Clave</h3>
    <div>
        <div class="row">
            <div class="col-md-6">Digite aquí su Clave Actual:</div>
            <div class="col-md-6"><input class="pull-right col-sm-12" type="password" data-ng-model="OldPassword"></div>
        </div>
        <div class="row">
            <div class="col-md-6">Digite aquí su nueva clave:</div>
            <div class="col-md-6"><input class="pull-right col-sm-12" type="password" data-ng-model="NewPassword1"></div>
        </div>
        <div class="row">
            <div class="col-md-6">Repita aquí su nueva clave:</div>
            <div class="col-md-6"><input class="pull-right col-sm-12" type="password" data-ng-model="NewPassword2"></div>
        </div>   
        <div class="alert alert-danger" data-ng-show="NewPassword1 !== NewPassword2">{{NewPassword1 !== NewPassword2?"La confirmación de su nueva clave no coincide con su nueva clave.":"All Good!"}}</div>
        <div class="row">
            <div class="col-md-12"><button data-ng-disabled="(!OldPassword || !NewPassword1 || NewPassword1 !== NewPassword2)" class="btn btn-primary pull-right" data-ng-click="ChangePassword()">Cambiar Clave</button></div>
        </div>

    </div>
    <h3>Otras Funciones</h3>
    <div>En esta sección pronto estaremos implementando funciones para cambiar la cuenta de email también</div>
</div>   

<script>
    $("#account_accordion").accordion({
        heightStyle: "content",
        collapsible: true
    });
</script>