<!-- <div class="container">
    <p>En este tab pronto estaremos colocando funciones para que el usuario pueda crear su propia red de inventores.</p>
    <ul>
        <li>Invitar a alguien</li>
        <li>Cambiar mi estado / microblogging</li>
        <li>Conocer el estado de mis amigos</li>
    </ul>

    
    <div>
        <h2>Invitar a un amigo</h2>
        <p>Por favor escriba la cuenta de correo electrónico de la persona que desea invitar a ser parte de pvCloud</p>
        <p>Al hacer clic en el botón INVITAR se enviará un mensaje de email a la cuenta de correo especificada, con instrucciones para crear la nueva cuenta.</p>
        <input id="emailToInvite" type="email" placeholder="Digite una dirección de email">
        <button>Invitar</button>    
    </div>
    
    
</div> -->

<!-- CONTAINER FLUID -->
<div data-ng-controller="_mycloud_mynetwork" class="container-fluid">
    <!--HEADING - CONNECTIONS PENDING-->
    <div class="row" data-ng-if="pending && !decidelater">
        <div class="col-sm-12">
            <p>Invitaciones Pendients
            <button type="button" class="btn btn-default btn-sm" data-ng-click="DecideLater()">Decidir mas tarde</button>
            </p>
         
            <div  class="alert alert-warning" class="pending-connections" data-ng-repeat="pnd in pending.connections">
               
                <div class="media">
                   <div class="pull-left">
                      <i class="glyphicon glyphicon-user"></i>
                   </div>
                   <div class="media-body">
                            <p>{{pnd.Name}} &nbsp;&nbsp;  {{pnd.email}}
                                <span class="btn-connections">
                                    <button type="button" class="btn btn-success btn-sm">Aceptar</button>
                                    <button type="button" class="btn btn-danger btn-sm">No Gracias</button>
                                </span>
                           </p>
                       <p></p>
                   </div>
                </div>

               
            </div>
            
     
        
        </div>
    </div>
    <br>
    <!--CONNECTION LIST-->
    <table class="table table-striped table-hover">
        <tr>
            
            <th>Mis Conexiones
                <a data-ng-click="GoToNewConnection()" class='pull-right btn btn-xs btn-success'><i class='glyphicon glyphicon-user'></i> Nueva Conexion</a>
            </th>
        </tr>
        <tr  data-ng-repeat="cn in connections.connections">
            <td class="td-app-info">
                <span >{{cn.Name}}</span>&nbsp;&nbsp;
                <span >{{cn.email}}</span>&nbsp;&nbsp;
                <i class="glyphicon glyphicon-envelope"></i>
                <br>
                
            </td>
        </tr>
    </table>

</div>