<div class="container">
    <p>En este tab pronto estaremos colocando funciones para que el usuario pueda crear su propia red de inventores.</p>
    <ul>
        <li>Invitar a alguien</li>
        <li>Cambiar mi estado / microblogging</li>
        <li>Conocer el estado de mis amigos</li>
    </ul>

    <!--
    <div>
        <h2>Invitar a un amigo</h2>
        <p>Por favor escriba la cuenta de correo electrónico de la persona que desea invitar a ser parte de pvCloud</p>
        <p>Al hacer clic en el botón INVITAR se enviará un mensaje de email a la cuenta de correo especificada, con instrucciones para crear la nueva cuenta.</p>
        <input id="emailToInvite" type="email" placeholder="Digite una dirección de email">
        <button>Invitar</button>    
    </div>
    
    -->
</div>