<div class="pvcloud-home">
    <h3>¿Qué es pvCloud?</h3>
    <p>pvCloud tiene como objetivo principal simplificar la interacción de inventores entre ellos, y con la Internet; y a su vez la interacción entre los inventos y la Internet de las cosas.</p>  

    <h3>¿Como funciona?</h3>
    <p>La palabra clave aquí es <em>¡simple!</em>. pvCloud viene a simplificar la forma de intercambiar datos entre apps de IoT y la Internet. Usted no tiene que preocuparse por montar infraestructura de Internet, ni por programar la forma en que sus inventos envían o consumen datos en el Internet; pvCloud provee una interfase de conexión denominada "Valor Simple Extendible" que sencillamente permite enviar cualquier tipo de datos al Internet y consumirlo en los apps o aplicaciones que usted crea.</p>  

    <h3>¿Qué sigue?</h3>
    <p>Utilice la sección de "Mis Apps" para registrar apps IoT que puedan eviar o consumir datos hacia o desde la nube. También puede utilizar la sección "Mi Red" para encontrar amigos inventores y crear su propia red social; o puede ir a "Mi Cuenta" para administrar su cuenta de usuario de pvCloud. </p>
    <p>¡Que lo disfrute!</p>
</div>