<!-- CONTAINER FLUID -->
<div data-ng-controller="_mycloud_myapps" class="container-fluid">
    <!--HEADING - REGISTRAR NUEVO APP-->
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group" style="width:100%">
                <label for="txtSearchApps" class="input-group-addon"><i class="glyphicon glyphicon-search"></i></label>
                <input id="txtSearchApps" data-ng-model="txtSearchApps" data-ng-keypress="EnterKeyBehavior($event)" data-ng-model="AppsSearchPhrase" type="search" class="form-control inputtext"  placeholder="{{PageLabels.mycloud.myapps_search_placeholder}}" required>
            </div>
        </div>
    </div>
    <br>
    <!--LISTA DE APPS-->
    <table class="table table-striped table-hover" data-ng-if="Apps && Apps.length > 0 && SelectedApp === undefined">
        <tr>
            <th>ID</th>
            <th>{{PageLabels.NombreYDescripcion}}
                <a data-ng-click="GoToNewApp()" class='pull-right btn btn-xs btn-success'><i class='glyphicon glyphicon-plus'></i> Nueva App</a></th>
        </tr>
        <tr id="tr_app_{{app.app_id}}" data-ng-repeat="app in Apps | filter: txtSearchApps">
            <td class="td-app-info" style="vertical-align: middle">{{app.app_id}}</td>
            <td class="td-app-info">
                <a href="#/mycloud/myapps/{{app.app_id}}">{{app.app_nickname}}</a>&nbsp;&nbsp;
                <span class="badge" title="Data records in pvCloud">{{app.records_count}}</span>
                <br>
                <small class="col-sm-12 text-muted" style="color:gray; margin:0; padding:0">{{app.app_description}}</small>
            </td>
        </tr>
    </table>
    <div data-ng-if="LoadingListOfAppsComplete && (!Apps || Apps.length === 0)">No hay apps registrados <a data-ng-click="GoToNewApp()" class='pull-right btn btn-xs btn-success'><i class='glyphicon glyphicon-plus'></i> Nueva App</a></div>
</div>