<!--TITLE-->
<div class="page-header text-muted">
    <h1>Mi Nube IoT</h1>
</div>

<!-- LOGIN/NEW ACCOUNT/RECOVER PWD-->
<div class="panel panel-default" data-ng-show="AllGood">
    <div id="pv-credentials" class="panel-body">
        <!--INSTRUCTIONS-->
        <div class="row">
            <p id="pv-header-credentials" class="text-muted col-md-12 pv-login-controls">
                Digite sus credenciales para ingresar a su cuenta
            </p>
            <p id="pv-header-registration" class="text-muted col-md-12 pv-registration-controls alert alert-info">
                Digite su dirección de email y la clave que desea usar; luego haga clic en [Registrarme] para crear su nueva cuenta.
            </p>      
            <p id="pv-header-password-recovery" class="text-muted col-md-12 pv-password-recovery-controls alert alert-warning">
                Digite su dirección de email y luego haga clic en [Recuperar Contraseña]
            </p>             
        </div>

        <!-- LOGIN FORM -->
        <form id="login_form" action="/pvcloud_backend/post_account_login.php" method="POST">
            <!-- USER NAME FIELD -->
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input id="username" name="username" data-ng-keypress="EnterKeyBehavior($event)" data-ng-model="Email" type="email" class="form-control"  placeholder="Digite su email aquí" required>
                    </div>
                </div>
                <div class='pv-control-recover-password col-md-12'>
                    <div class="input group alert alert-info">
                        <h4>Demuestre que usted es humano: </h4>
                        {{CapchaCase.Message}} <input type='text' ng-model='CapchaResponse'>
                        <i style="cursor: pointer" class="glyphicon glyphicon-refresh" title="Haz clic aquí para regenerar la pregunta..." data-ng-click="GenerateCapchaCase();"></i>
                    </div>
                </div>
            </div>
            <!-- PASSWORD FIELD -->
            <div class="row pv-input-password">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon" >***</span>
                        <input id="password" name="password" data-ng-keypress="EnterKeyBehavior($event)" data-ng-model="Pwd" type="password" class="form-control" placeholder="Digite su clave de acceso aquí">
                    </div>
                </div>
            </div>
            <!-- SWITCH MODE LINKS -->
            <div class="row">
                <div class="col-sm-6">
                    <input type="submit" value="Ingresar" style="width:200px" class="btn btn-lg btn-success pv-control-login">
                    <button data-ng-click="RegisterAccount();" class="btn btn-lg btn-primary pv-control-register" style="width:200px">Registrarme</button>
                    <button data-ng-disabled="!Email || CapchaResponse != CapchaCase.Result" data-ng-click='RecoverPassword_Click();' class="btn btn-lg btn-warning pv-control-recover-password" style="width:250px">Recuperar Contraseña</button>
                </div>
                <div class="col-sm-6 pv-credentials-addon-actions">
                    <div class="pv-credentials-actions">
                        <a data-ng-click="SwitchToLoginMode();" class="pv-control-back-to-login-link" > Cancelar </a> <span class="pv-control-back-to-login-separator"> | </span>
                        <a data-ng-click="SwitchToPasswordRecoveryMode();" class="pv-control-recover-password-link" > Olvidé mi clave </a>
                    </div>
                </div>            
            </div>            
        </form>

        <!-- PASSWORD REPEAT FIELD -->
        <div class="row pv-input-password2" >
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon" >***</span>
                    <input data-ng-model="Pwd2" type="password" class="form-control" placeholder="Repita aquí su clave de acceso">
                </div>
            </div>
        </div> 

        <!-- ERROR MESSAGES -->
        <div class="row" data-ng-show="ErrorMessages.length > 0">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <li data-ng-repeat="error in ErrorMessages">
                            {{error}}
                        </li>
                    </ul>                
                </div>
            </div>
        </div>


    </div>
</div>

