<div class="container">
    <!-- HEADING -->
    <div class="page-header text-muted">
        <h1>{PageLabels.passwordRecovery.title}</h1>
    </div>

    <!-- CONTENT -->
    <div class="panel panel-default">
        <div class="row">
            <div class="col-md-12">
                <form id="frmPasswordRecovery" style="margin:30px" method="POST" action="backend/account_password_recovery_execute.php">
                    <div class="form-group">
                        <label for="txtEmail">{PageLabels.passwordRecovery.email}</label>
                        <input required type="email" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email asociado a su cuenta pvCloud" data-ng-model="Email">
                    </div>
                    <div class="form-group">
                        <label for="txtPassword">{PageLabels.passwordRecovery.newPassword}</label>
                        <input required type="password" class="form-control" id="txtPassword" name="txtPassword" placeholder="Nueva Contraseña" data-ng-model="Password1">
                    </div>       
                    <div class="form-group">
                        <label for="txtPassword2">{PageLabels.passwordRecovery.newPasswordAgain}</label>
                        <input required type="password" class="form-control" id="txtPassword2" name="txtPassword2" placeholder="Nueva Contraseña" data-ng-model="Password2">
                    </div>        
                    <input type="submit" class="btn btn-primary" value="Cambiar Contraseña" data-ng-disabled=" !Email || !Password1 || Password1 !== Password2">
                    <input type="hidden" id="AccountID" name="AccountID" value="{{AccountID}}">
                    <input type="hidden" id="ConfirmationCode" name="ConfirmationCode" value="{{ConfirmationCode}}">
                </form>
            </div>
        </div>
    </div>
</div>